@model IEnumerable<ManageStudent.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="header">
        <h2>Index</h2>

        <p class="header-dropdown">
            <a asp-action="Create" class="btn bg-light-green waves-effect">
                <i class="material-icons">playlist_add</i> <span> Create New</span>
            </a>
        </p>
    </div>
    <div class="body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @*<input type="checkbox" id="checkbox_all" class="filled-in chk-col-red">
                        <label for="checkbox_all"></label>*@
                    </th>
                    @*<th>
                        #
                    </th>*@
                    <th>
                        Full Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        Handle
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="checkbox_@item.RollNumber" class="filled-in chk-col-red">
                            <label for="checkbox_@item.RollNumber"></label>
                        </td>
                        @*<td>@item.</td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.RollNumber" class="btn bg-green btn-xs waves-effect">
                                Edit
                            </a> |
                            <a asp-action="Details" asp-route-id="@item.RollNumber" class="btn bg-cyan btn-xs waves-effect">
                                Details
                            </a> |
                            <a href="#" id="@item.RollNumber" class="btnDeleteClick btn bg-red btn-xs waves-effect">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
